<div style="padding: 3rem 1rem">
    <form class="well center-block" style="max-width: 35rem" action="{{@BASE}}/login" method="POST" role="form">
        <legend class="text-center">Login</legend>

        <div class="form-group input-group">
            <input class="form-control" id="username" name="username" type="text"/>
            <span class="input-group-addon">Username</span>

        </div>

        <div class="form-group input-group">
            <input class="form-control" id="password" name="password" type="password"/>
            <span class="input-group-addon">Password</span>
        </div>

        <div>
            <button class="btn btn-block btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>