<nav class="navbar navbar-default" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{@BASE}}/list"><h2>List</h2></a></li>
            <li><a href="{{@BASE}}/newBeer"><h2>New Beer</h2></a></li>
            <li><a href="{{@BASE}}/newBrewery"><h2>New Brewery</h2></a></li>
            <li><a href="{{@BASE}}/signUp"><h2>New User</h2></a></li>
            <li><a href="{{@BASE}}/admin"><h2>Manage List</h2></a></li>
            <li><a href="{{@BASE}}/logout"><h2>Log Out</h2></a></li>
        </ul>
    </div>
</nav>